.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.post-list {
  width: 600px;
  padding: 10px 0;
}

.add-post-link {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #34d482;
  border: 1px solid #28a765;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

@media only screen and (max-width: 620px) {
  .post-list {
    width: 100%;
  }
}