.post {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
}

.post .post-header {
  border-bottom: 1px solid #d8d8d8;
  padding: 16px 40px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post .post-user-tag {
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
}

.post .post-header p,
.post .post-footer p {
  margin: 0;
}

.post .post-header .post-user-pic {
  background-color: #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.post img {
  width: 100%;
  height: auto;
}

.post form {
  width: 100%;
  border-top: 1px solid #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post form input:focus
{
  outline: none;
}

.post form input[type="text"] {
  width: 100%;
  border: none;
  padding: 20px 15px;
}

.post form input[type="submit"] {
  color: #34d482;
  font-weight: bold;
  border: none;
  padding: 20px 15px;
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
}

.post form input[type="submit"]:not(:disabled):hover {
  background-color: rgb(243, 243, 243);
}

.post form input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: default;
}

.post-controls span {
  font-size: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.post-controls span:first-child {
  margin-left: 10px;
}

.heart-icon i.fa.fa-heart {
  color: red;
}

